.navbar {
  display: flex;
  justify-content:  space-between;
  background-color: #333;
  height: 70px;
  align-items: center; /* Vertically center the links */
 
}

.navbar a {
  color: white;
  padding: 6px 12px; /* Reduced padding */
  text-decoration: none;
  text-align: center;
  border-radius: 6px;
  font-size: 14px; /* Optional: smaller font for a sleeker look */
}

.navbar a:hover {
  background-color: white;
  color: black;
}

h1 {
  color: white;
}
h5{
    color:white;
    font-size: medium;
}

body {
  background-image: url("images/janko-ferlic-sfL_QOnmy00-unsplash.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:90vh;
}
body, html {
  min-height:100vh;
  margin: 0;
}

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  
}


.box {
  height:350px;
  width:350px;
  background-color:black;
  opacity:0.4;
  text-align: center;
  border-radius: 10px;;
  box-shadow: inset;
}
footer{
     background-color: #333;
     text-align: center;
}

p{
    color:white;
}